/crash-reports/
/backups/
/libraries/
/logs/
/journeymap/
/mods/
/world/
/cache/
/.fabric/
/bluemap/
/versions/

banned-ips.json
banned-players.json
usercache.json
whitelist.json
ops.json

/*.jar
/*.jar.log
/eula.txt
/modernfix/
.env
